@charset "utf-8";
/* circle효과 */
#circle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
 position: absolute; top: 0;left: 30%;z-index: 111;
  /* overflow: hidden; */
  transform: skew(-45deg, 15deg);}


#circle ul.groups {
  margin: 0;
  list-style: none;
  font-size: 3vw; font-weight: 800;
  transform-style: preserve-3d ;
  animation: three-dimensions-circle 10s linear infinite;

}


#circle ul.groups li {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2222;

}


#circle ul.groups li:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(2) {
  transform: translate(-50%, -50%) rotate(30deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(3) {
  transform: translate(-50%, -50%) rotate(60deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(5) {
  transform: translate(-50%, -50%) rotate(120deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(6) {
  transform: translate(-50%, -50%) rotate(150deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(7) {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(8) {
  transform: translate(-50%, -50%) rotate(210deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(9) {
  transform: translate(-50%, -50%) rotate(240deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(10) {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(11) {
  transform: translate(-50%, -50%) rotate(300deg) translateY(-260px) rotateX(90deg);
}


#circle ul.groups li:nth-child(12) {
  transform: translate(-50%, -50%) rotate(330deg) translateY(-260px) rotateX(90deg);
}



@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}