#iNavNGI_FooterMain.iNNewFoot #iNavNGI_FooterCont #iNavFootSub {
    padding: 0;
    margin-bottom: -25px !important;
}
#iNavNGI_FooterMain.iNNewFoot #iNavNGI_FooterCont #iNavFootSub #iNavSocial {
    margin-left: 650px;
}
@media screen and (max-width:770px){
#iNavNGI_FooterMain.iNNewFoot #iNavNGI_FooterCont #iNavFootSub #iNavSocial{margin-left:500px}
}
@media screen and (max-width:600px){
#iNavNGI_FooterMain.iNNewFoot #iNavNGI_FooterCont #iNavFootSub #iNavSocial{margin-left:0}
#iNavNGI_FooterMain.iNNewFoot #iNavNGI_FooterCont #iNavFootSub{margin-bottom:0 !important}
}
