@charset "utf-8";
*{margin: 0; padding: 0;}
body,html{width: 100%; height: 100%;font-size: 14px; 
font-family: 'Caveat', 'Gaegu', cursive;
-ms-overflow-style: none;}
::-webkit-scrollbar{display: none;}
ul,li{list-style: none;}
a{text-decoration: none;}
label,input,button{outline: 0; border: 0; background-color: transparent;}

h1,h2,h3,h4,h5,h6{line-height: 3; text-indent: 1em;}
/*글자사이즈의 3배 ; 한글자 들여쓰기; */
h1{font-size: 4em;}
h2{font-size: 3em;}
h3{font-size: 2em;}
h4{font-size: 1.6em;}
h5{font-size: 1em;}
h6{font-size: 0.8em;}
p{font-size: 1em;padding: 1em; line-height: 1.6;}


